name: auto-merge

on:
  workflow_call:
    inputs:
      auto-approve:
        description: Automatically approve pull-requests
        default: true
        required: false
        type: boolean
      command:
        description: The command to pass to Dependabot
        default: "squash and merge"
        required: false
        type: string
      target:
        description: The version comparison target (major, minor, patch)
        default: minor
        required: false
        type: string
      target-repo:
        description: The repo to run this action on. This is to prevent actions from running on forks unless intended.
        required: true
        type: string
    secrets:
      GH_TOKEN:
        description: "Personal access token passed from the caller workflow"
        required: true

jobs:
  auto-merge:
    if: github.repository == inputs.target-repo && github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ahmadnassri/action-dependabot-auto-merge@v2.6
        with:
          approve: ${{ inputs.auto-approve }}
          command: ${{ inputs.command }}
          target: ${{ inputs.target }}
          github-token: ${{ secrets.GH_TOKEN }}
