name: "Lock old issues and pull requests"
on:
  workflow_call:
    inputs:
      target-repo:
        description: The repo to run this action on. This is to prevent actions from running on forks unless intended.
        required: true
        type: string
      issue-inactive-days:
        description: The number of days before an issue is considered inactive.
        default: "365"
        required: false
        type: string

permissions:
  issues: write
  pull-requests: write

concurrency:
  group: lock

jobs:
  lock-closed:
    if: github.repository == inputs.target-repo
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/lock-threads@7266a7ce5c1df01b1c6db85bf8cd86c737dadbe7 # v6.0.0
        with:
          issue-inactive-days: ${{ inputs.issue-inactive-days }}
