name: "Mark new issues with specified label(s)"

on: 
  workflow_call:
    add-labels:
      description: Labels to add as a comma separated list.
      default: "needs-triage"
      required: false
      type: string
    target-repo:
        description: The repo to run this action on. This is to prevent actions from running on forks unless intended.
        required: true
        type: string

jobs:
  label-new-issues:
    if: github.repository == inputs.target-repo
    runs-on: ubuntu-latest
    steps:
      - name: initial labelling
        uses: andymckay/labeler@v1.0.4
        with:
          add-labels: ${{ input.add-labels }}
