name: publish-release
"on":
  workflow_call:
    inputs:
      target-repo:
        description: The repo to run this action on. This is to prevent actions from running on forks unless intended.
        required: true
        type: string
      release-type:
        description: >-
          The type of release to publish. See
          https://github.com/googleapis/release-please#release-types-supported
        default: node
        required: false
        type: string
      node-version:
        description: The Nodejs version to use
        default: 18
        required: false
        type: number
      npm-publish:
        description: Whether to publish the package to npm
        default: true
        required: false
        type: boolean
      npm-publish-args:
        description: >-
          Arguments passed to `npm publish` command; ignored if "npm-publish" is
          false
        default: ""
        required: false
        type: string
      registry-url:
        description: The registry to publish to
        default: "https://registry.npmjs.org"
        required: false
        type: string
    secrets:
      GH_TOKEN:
        description: Personal access token passed from the caller workflow
        required: true
      NPM_AUTH_TOKEN:
        description: Your NPM registry token
        required: false
jobs:
  release-please:
    if: github.repository == inputs.target-repo
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v4.1.3
        id: release
        with:
          token: "${{ secrets.GH_TOKEN }}"
          release-type: "${{ inputs.release-type }}"
      - uses: actions/checkout@v4
        if: inputs.npm-publish && steps.release.outputs.release_created
      - uses: actions/setup-node@v4
        with:
          node-version: "${{ inputs.node-version }}"
          registry-url: "${{ inputs.registry-url }}"
        if: inputs.npm-publish && steps.release.outputs.release_created
      - run: npm ci
        if: inputs.npm-publish && steps.release.outputs.release_created
      - run: "npm publish ${{ inputs.npm-publish-args }}"
        env:
          NODE_AUTH_TOKEN: "${{secrets.NPM_AUTH_TOKEN}}"
        if: inputs.npm-publish && steps.release.outputs.release_created
